* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: auto;


  --toggle: 1;
  --playState: "running";
}

button:hover {
  cursor: pointer;
}

.main-header {
  height: 90px;
  text-align: center;
}

h1 {
  font-size: 190%;
  margin: auto;
  padding-right: 10%;
  padding-top: 30px;
}

.line{
  background-color: #FFF;
  display: block;
  height: 5px;
  margin: 13px auto;
  margin-top: 13px;
  margin-left: 10%;
  width: 75%;
}

.hamburger {
  background-color: #000;
  border: 1px solid #000;
  float: left;
  height: 100%;
  top: 0;
  width: 7%;
}

.intro-main {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("assets/beyonce-cob-bw.png");
  background-repeat: no-repeat;
  background-size: 150% 150%;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 200px;
}

.intro-inputs {
  display: flex;

  font-size: 140%;
  text-align: left;
  width: 60%;
}

.player-text {
  margin-top: 5px;
}

.same-input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.player-name {
  font-size: 130%;
  height: 45px;
  margin-top: 250px;
  padding-left: 10px;
  width: 80%;
}

.start-game {
  background-color: #000;
  color: #FFF;
  height: 50px;
  font-size: 140%;
  margin-top: 155px;
  width: 60%;
}

.overview-page {
  align-items: center;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.overview-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 220%;
  width: 52%;
}

.description {
  display: block;
  font-size: 138%;
  margin-top: 40px;
}

.welcome {
  font-size: 173%;
  margin-top: 100px;
}

.overview-button {
  margin-bottom: 55px;
  width: 100%;
}

.left,
.right {
  background-color: #000;
  color: #FFF;
  padding: 2% 2% 20% 2%;
  text-align: center;
  width: 20%;
}

.top-player {
  margin-top: 13px;
}

.score {
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  padding: 25px;
}

.score-number {
  font-size: 500%;
  font-weight: 700;
}

h3 {
  font-size: 160%;
  margin: auto;
}

.aside-text {
  font-size: 160%;
  display: block;
}

.time {
  display: block;
}

.one,
.two {
  margin-bottom: 30px;
}

.round-info {
  margin-top: 30px;
}

.cards {
  display: flex;

}

.game-page {
  display: flex;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: auto;
  justify-content: center;
  perspective: 1000px;
  width: 60%;
}

.card {
  background-color: #FFF;
  border: 3px solid #000;
  font-size: 800%;
  font-weight: 700;
  height: 150px;
  line-height: 120px;
  margin-right: 80px;
  margin-top: 40px;
  padding-top: 10px;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform .5s;
  width: 100px;
}

.card.flip {
  transform: rotateY(180deg);

}

.card:hover {
  cursor: pointer;
}

.back {
  transform: rotateY(180deg);
}

.card-0-front {
  backface-visibility: hidden;
  z-index: 2;
	position: absolute;
	top: 0;
	left: 5%;
  transform: rotate(-20deg);
}

.card-0-back {
  backface-visibility: hidden;
	position: absolute;
  top: 0;
	left: 5%;
  background-image: url("assets/bey1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transform: rotate(-20deg);
}

.card-1-front {
  backface-visibility: hidden;
  z-index: 2;
	position: absolute;
	top: 0;
	left: 30%;
  transform: rotate(15deg);
}

.card-1-back {
  backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 30%;
  background-image: url("assets/bey2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transform: rotate(15deg);
}

.card-2-front {
  backface-visibility: hidden;
  z-index: 2;
	position: absolute;
	top: 0;
  left: 55%;
  transform: rotate(30deg);
}

.card-2-back {
  backface-visibility: hidden;
	position: absolute;
	top: 0;
  left: 55%;
  background-image: url("assets/bey3.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transform: rotate(30deg);
}

.card-3-front {
  backface-visibility: hidden;
  z-index: 2;
	position: absolute;
	top: 0;
  left: 80%;
  transform: rotate(-5deg);
}

.card-3-back {
  backface-visibility: hidden;
	position: absolute;
	top: 0;
  left: 80%;
  background-image: url("assets/bey4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transform: rotate(-5deg);
}

.card-4-front {
  backface-visibility: hidden;
  z-index: 2;
	position: absolute;
	top: 25%;
  left: 18%;
  transform: rotate(9deg);
}

.card-4-back {
  backface-visibility: hidden;
	position: absolute;
	top: 25%;
  left: 18%;
  background-image: url("assets/bey5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  transform: rotate(9deg);
}

.match-zero {
	top: 25%;
  left: 68%;
  transform: rotate(-38deg);
}

.match-one {
	top: 50%;
  left: 5%;
  transform: rotate(20deg);
}

.match-two {
	top: 50%;
	left: 30%;
  transform: rotate(8deg);
}

.match-three {
	top: 50%;
  left: 55%;
  transform: rotate(-30deg);
}

.match-four {
	top: 50%;
  left: 80%;
  transform: rotate(13deg);
}

.winner-page {
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("assets/beyonce-cob-bw.png");
  background-repeat: no-repeat;
  background-size: 180% 180%;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.congrats {
  font-size: 200%;
  margin-top: 150px;
}

.final-time {
  font-size: 150%;
  font-weight: 700;
  margin-bottom: 80px;
  margin-top: 40px;
}

.to-restart {
  font-size: 145%;
  margin-bottom: 70px;
}

.game-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 170px;
  width: 65%;
}

.btn {
  background-color: #000;
  color: #FFF;
  font-size: 135%;
  height: 50px;
  width: 38%;
}
