* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: auto;
}

.main-header {
  height: 90px;
  text-align: center;
}

h1 {
  font-size: 190%;
  margin: auto;
  padding-right: 10%;
  padding-top: 30px;
}

.line{
  background-color: #FFF;
  display: block;
  height: 5px;
  margin: 13px auto;
  margin-top: 13px;
  margin-left: 10%;
  width: 75%;
}

.hamburger {
  background-color: #000;
  border: 1px solid #000;
  float: left;
  height: 100%;
  top: 0;
  width: 7%;
}

.intro-main {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("assets/beyonce-cob-bw.png");
  background-repeat: no-repeat;
  background-size: 180% 180%;
  background-position: center;
  display: flex;

  display: none;

  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 250px;
}

.intro-inputs {
  display: flex;

  font-size: 140%;
  text-align: left;
  width: 60%;
}

.player-text {
  margin-top: 5px;
}

.same-input {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.player-name {
  font-size: 130%;
  height: 45px;
  margin-top: 250px;
  padding-left: 10px;
  width: 80%;
}

.start-game {
  background-color: #000;
  color: #FFF;
  height: 50px;
  font-size: 140%;
  margin-top: 155px;
  width: 60%;
}

.overview-page {
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("assets/beyonce-cob-bw.png");
  background-repeat: no-repeat;
  background-size: 180% 180%;
  background-position: center;
  display: flex;

  display: none;

  flex-direction: column;
}

.overview-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  line-height: 220%;
  width: 52%;
}

.description {
  display: block;
  font-size: 138%;
  margin-top: 40px;
}

.welcome {
  font-size: 173%;
  margin-top: 100px;
}

.overview-button {
  margin-bottom: 55px;
  width: 100%;
}

.left,
.right {
  background-color: #000;
  color: #FFF;
  padding: 2% 2% 20% 2%;
  text-align: center;
  width: 20%;
}

.top-player {
  margin-top: 13px;
}

.score {
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  padding: 25px;
}

.score-number {
  font-size: 500%;
  font-weight: 700;
}

h3 {
  font-size: 160%;
  margin: auto;
}

.aside-text {
  font-size: 160%;
  display: block;
}

.time {
  display: block;
}

.one,
.two {
  margin-bottom: 30px;
}

.round-info {
  margin-top: 30px;
}

.cards {
  display: flex;
  width: 60%;
}

.game-page {
  display: flex;

  display: none;
}

.cards {
display: flex;
flex-wrap: wrap;

height: auto;
justify-content: center;
}

.card {
  background-color: #FFF;
  border: 3px solid #000;
  font-size: 800%;
  font-weight: 700;
  height: 150px;
  margin: 15px 80px 15px 20px;
  text-align: center;
  width: 100px;
}

.card-one {
  transform: rotate(-20deg)
}

.card-two {
  transform: rotate(15deg)
}

.card-three {
  transform: rotate(30deg)
}

.card-four {
  transform: rotate(-5deg)
}

.card-five {
  transform: rotate(9deg)
}

.card-six {
  transform: rotate(-38deg)
}

.card-seven {
  transform: rotate(20deg)
}

.card-eight {
  transform: rotate(8deg)
}

.card-nine {
  transform: rotate(-30deg)
}

.card-ten {
  transform: rotate(13deg)
}

.winner-page {
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("assets/beyonce-cob-bw.png");
  background-repeat: no-repeat;
  background-size: 180% 180%;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.congrats {
  font-size: 200%;
  margin-top: 150px;
}

.final-time {
  font-size: 150%;
  font-weight: 700;
  margin-bottom: 80px;
  margin-top: 40px;
}

.to-restart {
  font-size: 145%;
  margin-bottom: 70px;
}

.game-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 170px;
  width: 65%;
}

.btn {
  background-color: #000;
  color: #FFF;
  font-size: 135%;
  height: 50px;
  width: 38%;
}
